{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
AQTS-538 - OLI Designs
  </h1>

  <p><a href="https://lucid.app/lucidspark/d9ae5a45-0ad5-40f8-89bd-7df1f8356a55/edit?viewport_loc=-94262%2C-41659%2C242823%2C118123%2C0_0&invitationId=inv_8f651838-50b1-4aa2-8d19-70f8251cb80c">Lucid board (design exploration)</a></p>
         
  <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="start">Start page</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
           Updated button labeling following UR in November 2024.
          </p>

          <p><a href="start-old">Old version</a> - Used to test content detailing OLI at the bottom of the page.
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="create-account-sign-in">Sign-in page (v1 with hint text)</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       Updated content and functionality. Hint text version, switch to version 2 with banner at the top of the page.
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="create-account-sign-in-banner">Sign-in page (v2 with banner)</a></p>
          
        </td>
        <td class="govuk-table__cell">

          <p>
            Updated in November 2024 following user feedback from UR.
          </p>

          <p>
            <a href="create-account-sign-in-banner-old">Old version</a> - Used in UR to test what users responded to best. The banner performed better as users found the information about OLI was clearer in this version.
      
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          
          <p><a href="oli/oli-start">Start of OLI journey</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
            OLI sign-in or register page.
          </p>
        </td>
      </tr>
    

       
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <p><a href="ec-end-page">EC end page</a></p>
            
          </td>
          <td class="govuk-table__cell">
            <p>
              Updated content detailing OLI at the bottom of the page.
            </p>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <p><a href="task-list">AQTS task list</a></p>
            
          </td>
          <td class="govuk-table__cell">
            <p>
              No changes
            </p>
          </td>
        </tr>
      
  
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <p><a href="signed-out">Sign out page</a></p>
            
          </td>
          <td class="govuk-table__cell">
            <p>
             Updated content
            </p>
          </td>
        </tr>
      
     
      
    </tbody>
  </table>

{% endblock %}
