{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
homepageUrl: "/index.html",
serviceName: "Manage applications for qualified teacher services (QTS)",
serviceUrl: "/index.html",
navigation: [
{
href: "/application-list.html",
text: "Home"
},
{
href: "#2",
text: "Search"
},
{
href: "#3",
text: "Sign out"
}
]
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Send consent to applicant
        </h1>


        <p class="govuk-body">You need to email the applicant to request a signature for:</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-3">
            <li><b>BA Maths (Lahore University)</b></li>
          </ul>

        <p>Select 'Continue' to automatically send the email and uploaded consent documents.</p> 

        
        <div class="govuk-!-padding-top-3">
        <form action="verification-overview-4" method="post">

           
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}
          
            <a class="govuk-link" href="#">Cancel</a>

  
            
          
          </div>

        </form>


    </div>
</div>

{% endblock %}
