{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  Apply for QTS
  </h1>
  
  <p>
    Apply for QTS - applicant-facing service
  </p>
  
  <h2 class="govuk-heading-m">Prototypes Index</h2>
         
  <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
        <th scope="col" class="govuk-table__header app-custom-class">Date</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell">
       <p>Virus scanner</p>
        
       <p>Following on from previous design work, dev has reduced the timer needed to run the virus scanner down to 5 seconds.</p>
       <p>We need to reflect to the user if a document has been flagged by the scanner so they can re-upload it.</p>
        
       <p>
        <a href="AQTS-240/_screen-index">Full screen index</a><br>
        <a href="https://lucid.app/lucidspark/886ac30e-3dbb-42d2-b0c0-c900e4661829/edit?viewport_loc=6443%2C3726%2C20697%2C10521%2C0_0&invitationId=inv_d2f9bfa8-509d-4982-a678-11fe7a7bbe75">Design board</a>
       </p>
       <p><a href="https://dfedigital.atlassian.net.mcas.ms/browse/AQTS-240">Jira ticket</a></p>

      </td>

        <td class="govuk-table__cell">March 2024</td>
      </tr>

      <!-- -->

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <p>Application status</p>
          <p>We experience a high level of queries about the status of an application from applicants. How might we enable applicants to check their own application status to reduce the number of queries?</p>
          <p><a href="AQTS-201/_screen-index">Full screen index</a></p>
          <P>Additional design artifacts:
          <br>
          <a href="https://lucid.app/lucidspark/083670f7-d6fe-4e62-86f1-3241ca1c8024/edit?invitationId=inv_9ca539e8-8c99-414f-a1b1-7fc50c174723&page=0_0#" target="blank">BA board with journey maps</a>
          <br><a href="https://lucid.app/lucidspark/3a5e8de3-acda-49be-84e6-97c90cd54c1e/edit?beaconFlowId=2F0983FD025B5BD3&page=0_0&invitationId=inv_33bcc223-3358-4c39-b2bb-303b537d756e#" target="blank">Design board</a>
          <br><a href="https://dfedigital.atlassian.net.mcas.ms/browse/AQTS-201" target="blank">Corresponding Jira ticket</a>
        </p>
         
        </td>
        <td class="govuk-table__cell">March 2024</td>
      </tr>

      <!--- -->
      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell">xxx
        <br>
        <br>
        xxxx
        </td>
        <td class="govuk-table__cell">date</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
