{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">Upload your passport</h1>

		<p class="govuk-body">
			Only upload the passport pages that show your photo and personal details, including your:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>name
			<li>passport number</li>
			<li>expiry date</li>
			<li>identity card number (if you have one)</li>
			</li>
		</ul>

		<p>
			Make sure all information is clear and readable and the edges of the pages are visible.
		</p>

		<p>
			You do not need to upload every page of your passport.
		</p>

		<form class="form" action="check-files-passport" method="post">
			<div class="govuk-form-group govuk-!-padding-top-2">
				<label class="govuk-label" for="file-upload-1">
					Select a file to upload
				</label>
				<div class="govuk-hint">
					You can upload your files in PDF, JPG or DOC format. Each file must be no larger than 20MB.
				</div>
				<div class="govuk-form-group">
					<input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
				  </div>
			</div>
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button">
				Continue
				</button>

				<button class="govuk-button govuk-button--secondary" data-module="govuk-button"
				        name="another-identification" value="progress">
					Save and come back later
				</button>

			</div>

		</form>

	</div>
</div>

{% endblock %}
