{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
AQTS-385 - Referee email
  </h1>

         
  <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="https://lucid.app/lucidspark/816943c6-8ed1-4acc-80f5-931790a79011/edit?viewport_loc=11631%2C-753%2C5273%2C2524%2C0_0&invitationId=inv_0fa57f33-ce22-4f44-b69d-2856d480451e">Finalised designs</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
           Full board showing low and high fidelity designs.
           
          </p>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          
          <p><a href="view-reference">View individual reference</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
           Single reference with updated referee details.
          </p>
          <p>
            Shows the new design with the history of the previous referee.
          </p>
        </td>
      </tr>
     
      
    </tbody>
  </table>

{% endblock %}
