{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
AQTS-240 - Virus scanner
  </h1>

         
  <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
        <th scope="col" class="govuk-table__header app-custom-class">Date</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          <p>
            Iteration 2: Revised error screen, new content, addition of dynamic content on summary page
          </p>
          <p>
          <a href="v2/task-list">Task list</a>
          <br>
          <a href="v2/upload-id1">Upload file</a>
          <br>
          <a href="v2/upload-id2">Error page</a>
          <br>
          <a href="v2/upload-id3">Upload another page</a>
          <br>
          <a href="v2/upload-id4">Another page uploaded, error page</a>
          <br>
          <a href="v2/summary">Summary page (1 file)</a>
          <br>
          <a href="v2/summary-2-files">Summary page (2 files)</a>
          <br>
          
          </p>
          
        </td>
        <td class="govuk-table__cell">March 2024</td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          <p>
            Iteration 1: New error screen
          </p>
          <p>
          <a href="v1/upload-identification-1doc-error">Error page (v1)</a>
          <br>
          <a href="v1/upload-identification-1doc-error-v2">Error page (v2)</a>
          </p>
          
        </td>
        <td class="govuk-table__cell">March 2024</td>
      </tr>

    </tbody>
  </table>

{% endblock %}
